<html>
    <title>baru belajar </title>
    <meta name="description" content="saya baru belajar">
<style>
table, th, td {border: 1px solid blue; padding: 5px;}

table {border-collapse: collapse;}

th.eg1 {width: 21%;}

th.eg2 {width: 30%;}

th.eg4 {width: 5%;}

th.eg3 {width: 5%;}
</style>
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<style>
.hidden {
	vissibilty: hidden;
}
</style>
<head>
        <base href="https://virayank.herokuapp.com/" >
</head>
  <audio>
          <source src="/static", filename="Best.mp3">
  </audio>
  <body style="background-color: white" class="is-preload" id="div_root">
  <h1 align="center">FERDIZ</h1>

  <!-- <p align="center"><iframe src="http://free.timeanddate.com/clock/i72228t0/n108/tlid38/ftb/tt0/ta1/tb1" frameborder="0" width="267" height="19" allowTransparency="true"></iframe></p> -->
    <table>
      <tr>
        <th class="eg1">API</th>
        <th class="eg2">Description</th>
        <th class="eg4">Parameter</th>
        <th class="eg3">Usage</th>
      </tr>
     <tr>
        <td bgcolor="green">Instagram Image/Video Downloader</td>
        <td>Mengambil Link download dari link post Instagram.</td>
        <td>url</td>
        <td><a href="/api/ig?url=">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="yellow">Instagram Stalker</td>
        <td>Menampilkan jumlah foll, jumlah post, bio, dll dari akun Instagram.</td>
        <td>username</td>
        <td><a href="/api/stalk?username=duar_amjay">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="green">YouTube Audio Downloader</td>
        <td>Mengambil Link download dari link YouTube.</td>
        <td>url</td>
        <td><a href="/api/yta?url=">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="yellow">YouTube Video Downloader</td>
        <td>Mengambil Link download dari link YouTube.</td>
        <td>url</td>
        <td><a href="/api/ytv?url=">Example</a></td>
      </tr>
        <td bgcolor="green">Random Quotes</td>
        <td>Mengambil kutipan kutipan dari tokoh-tokoh dunia.</td>
        <td>-</td>
        <td><a href="/api/randomquotes">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="yellow">Random Anime Quotes</td>
        <td>Mengambil kutipan kutipan dari tokoh-tokoh anime.</td>
        <td>-</td>
        <td><a href="/api/quotesnime/random">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="green">Wikipedia.</td>
        <td>Mencari apapun yang ada di wikipedia.</td>
        <td>q</td>
        <td><a href="/api/wiki?q=asu">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="yellow">Random Waifu</td>
        <td>Mengambil Random Waifu dari mywaifulist.moe</td>
        <td>-</td>
        <td><a href="/api/waifu">Example</a></td>
      </tr>
      <!--<tr>
      	<td bgcolor="green">Brainly scraper</td>
      	<td>Mencari apapun di brainly</td>
      	<td>q</td>
      	<td><a href="/api/brainly?q=asw">Example</a></td>
      </tr>-->
    </table>
  </body>

</html>
